body{
    font-family: 'Lato', sans-serif;
    font-size:1em;
    background-color: #fff2e6;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

main{
    background-color:#fff2e6;
}

.main-header{
    width: 100%;
    text-align: center;
    background-color: #ccf2ff;
    border-style: solid;
}


.grid-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 0px;
}

.section{
    padding: 0.1em;
    border-style: solid;
    background-color: #e6fffa;
    margin-top:10px;
    border-radius: 25px;
}


img{
    text-align: center;
    border-style: solid;
    width: 100%;
    height:auto;
    margin-top:1em;
}

header h3{
    padding: 0.5em;
    margin-left: -0.1em;
    margin-right: -0.1em;
    background-color: #ccf2ff;
    margin-top: -0.09em;
    border-radius: 25px 25px 0px 0px;
}

p{
    line-height:1.5em;
    padding: 0.5em;
}

.image{
    text-align: center;
}

.footer{
    text-align: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    padding:0.5em;
}

h4, .link{
    padding-left: 1em;
}

.link{
    margin-top: 1em;
}
