@media only screen and (min-width: 50em) {
    .header h1{
        font-size:40px;
        margin-bottom:-0.2em;
        margin-top:-0.1em;
    }
    .header q{
        font-size:20px;
    }

    #mainNav{
        display:flex;
        width:80%;
        flex-grow: 1;
    }

    #mainNav li{
        flex: 1;
        list-style-type:none;
    }
    
    button{
        display:none;
    }

    main h2{
        font-size: 35px;
    }
    
    main > div{
        font-size:18px;
    }

    #towns{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        grid-template-rows: auto;
    }

    #preston, #soda, #fish{
        display:flex;
        flex-direction:column-reverse;
    }

    .prestonImage,.sodaImage,.fishImage{
        max-width:100%;
    }

    #towns img{
        padding:0; 
        width:100%;
    }

    div.prestonTitle, div.fishTitle, div.sodaTitle{
        line-height: normal;
    }
    div.prestonTitle h2, div.fishTitle h2, div.sodaTitle h2{
        margin-bottom:0.5rem;
        line-height: 90%;
    }

    div.prestonInfo, div.fishInfo, div.sodaInfo{
        margin:0 auto;
    }
    #preston{
        margin-top: 1rem;
    }
    .icons{
        margin-top:6em;
        }

    .map{
        height: auto;
    }
    .eventImage{
        width:40%;
        float: left;
        padding-right:1rem;
    }
    .article h2{
        text-align:left;
    }

    .article{
        font-size:1.5rem;
    }
}