@media only screen and (min-width: 50em) {
  /* All */
  .header h1 {
    font-size: 40px;
    margin-bottom: -0.2em;
    margin-top: -0.1em;
  }
  .header q {
    font-size: 20px;
  }

  #mainNav {
    display: flex;
    width: 80%;
    flex-grow: 1;
  }

  #mainNav li {
    flex: 1;
    list-style-type: none;
  }

  button {
    display: none;
  }

  main h2 {
    font-size: 35px;
  }

  main > div {
    font-size: 18px;
  }

  /* Contact */
  .icons {
    margin-top: 6em;
  }

  .map {
    height: auto;
  }

  /* Home */
  .eventImage {
    width: 40%;
    float: left;
    padding-right: 1rem;
  }
  .HomeArticle h2 {
    text-align: left;
  }
  .HomeArticle {
    font-size: 1.5rem;
  }
  .townImage {
    width: 100%;
  }

  #towns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-template-rows: auto;
  }

  main section.town {
    flex-direction: column-reverse;
  }

  .townImage {
    max-width: 100%;
  }

  #towns img {
    padding: 0;
    width: 100%;
  }

  div.title {
    line-height: normal;
  }

  div.title q{
    font-size:1rem;
  }

  div.title h2 {
    margin-bottom: 0.5rem;
    line-height: 90%;
  }

  div.info {
    margin: 0 auto;
  }

  /* Gallery */
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  figure:hover {
    box-shadow: 8px 8px 8px 8px rgba(65, 62, 62, 0.5);
  }
  /* Storm Center */

  /* Towns */
  .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-template-rows: auto;
  }

  main section.event {
    flex-direction: column;
  }
  .event-text {
    width: 100%;
  }

  .event img {
    padding: 0;
    width: 100%;
  }

  /* Fish Haven grid */
  #sp-grid {
    grid-template-columns: 1fr 1fr;
  }
}
