@media only screen and (min-width: 32em) {
  /*  All */
  header {
    padding: 5px 0;
  }

  .header h1 {
    font-size: 32px;
    margin-bottom: -0.2em;
    margin-top: -0.1em;
  }

  /* Event section for all pages*/
  main section:nth-child(odd) {
    flex-direction: row;
  }
  main section:nth-child(even) {
    flex-direction: row-reverse;
  }

  /* Contact info */
  .map {
    display: block;
    width: 60%;
    border: 2px solid black;
    float: left;
    height: 70%;
  }

  .icons {
    display: flex;
    justify-content: right;
    padding-right: 3em;
    padding-left: 2em;
    margin-top: 4em;
  }

  .contact-info {
    justify-content: center;
  }

  /* Home */
  .townImage {
    width: 90%;
    margin-left: 0;
    max-width: 60%;
  }

  .info q {
    margin-top: -1rem;
  }

  .info {
    width: 50%;
  }

  .town {
    display: flex;
    background-color: rgba(220, 225, 222, 0.3);
    max-width: 100%;
  }

  /* Town Pages */
  .forecast {
    display: block;
    padding-top:2rem;
  }

  .five-day{
    margin:0 auto;
}

.five-day th{
    background-color: #216869;
    border: 1px solid black;
    padding:0.4em;
}

.five-day td{
    background-color: #DCE1DE;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:0.4em;
}

.bottom-row td{
    border-bottom:1px solid black;
}

.forecast{
    margin-bottom: 40px;
}

  .road-image {
    width: 40%;
    float: right;
    margin-left: 1em;
  }
  .article-text {
    text-align: right;
  }

  .event {
    display: flex;
    background-color: rgba(220, 225, 222, 0.3);
    max-width: 100%;
  }

  .event-text {
    width: 50%;
  }
  
  .event-img {
    padding: 1rem;
    width: 90%;
  }

  /* Weather forecast (all town pages) */
  .forecast th, .forecast td{
    font-size:2rem;
  }

  .forecastTitle{
    font-size:2rem;
    border-bottom: 2px black solid;
  }

  .forecast img{
    width:100px;
    max-width:100%;
  }
  /* Gallery */
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
